<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul id="$messages"></ul>
    <form id="$form" action="">
      <input id="$input" autocomplete="off" /><button>Send</button>
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
      integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const socket = io("http://localhost:8000");


      $form.addEventListener("submit", function (e) {
        e.preventDefault();
        if ($input.value) {
          socket.emit("UserAdded", $input.value);
          $input.value = "";
        }
      });

      socket.on("userAddedResponse", function ({data}) {
        let item = document.createElement("li");
        item.textContent = data;
        $messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>
